{% extends "bananas/base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {% if config['DEBUG'] %}
    	<link rel="stylesheet/less" type="text/css" href="{{config['STATIC_ROOT_URL']}}less/index.less" />
    {% endif %}
    {{ super() }}
{% endblock %}
{% block content %}

	<div id="home">
		<div id="tree">
			<img src="{{config['STATIC_ROOT_URL']}}img/banana_tree.png"/>
	    </div>
		
		<div id="monkey">
			<img src="{{config['STATIC_ROOT_URL']}}img/monkeyfull.png"/>
	    </div>

		<div id="content">
			<div id="launch">
				<div id="start">
			    	<a href="">GO PLAY!</a>
				</div>

				<div id="logo">
					logo
				</div>
			</div>

			<div id="menu" class="hide">
				<img src="{{config['STATIC_ROOT_URL']}}img/bamboo_frame.png"/>
				<div id="banana-hunt">
					<a href="">BANANA HUNT</a>
				</div>
				<div id="monkey-business">
					<a href="">MONKEY BUSINESS</a>
				</div>
			</div>
		</div>
	</div>


	<div id="bananarun" class="hide">
	</div>

	<script type="text/javascript">$('#start').click(function(e){ e.preventDefault(); $('#launch').hide();$('#hut').hide();$('#tree').hide(); $('#menu').fadeIn();  return false} )</script>


{% endblock %}