<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>Go Bananas</title>

	<link rel="stylesheet/less" href="{{config['STATIC_ROOT_URL']}}bananas/less/index.less"/>

	<script src="{{config['STATIC_ROOT_URL']}}js/jquery.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="{{config['STATIC_ROOT_URL']}}css/bootstrap.css">
	    
	{% if config['DEBUG'] %}
	<link rel="stylesheet/less" type="text/css" href="{{config['STATIC_ROOT_URL']}}bananas/less/base.less" />
	<script type="text/javascript">
	    less = {relativeUrls: true, rootpath: "http://localhost:8001/static/bananas"};
	</script>

	<script src="{{config['STATIC_ROOT_URL']}}js/less.js" type="text/javascript"></script>
	{% else %}
	<link rel="stylesheet" href="{{config['STATIC_ROOT_URL']}}bananas/css/style.css" />
	{% endif %}
</head>

{{raw}}
<body ng-controller="user_ctrl">
	<div id="land"></div>

	<!-- <div class="cloud">	<span class="cloud-round"> </span> 	</div> -->
	
	<div id="home">	
		<div id="userinfo" >
			<p> <span ng-bind="user.username"> </span>, <span ng-bind="user.bananas"> </span> bananas </p>
		</div>

		<div id="tree">
			<img src="/static/img/banana_tree.png"/>
		</div>

		<div id="monkey">
			<img src="/static/img/monkeyfull.png"/>
		</div>

		<div id="content" ng-view> </div>
	</div>

	<div id="footer"> </div>

	<!-- In production use:
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	-->
	{{ endraw }}
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="{{config['STATIC_ROOT_URL']}}bananas/js/app.js"></script>
	<script src="{{config['STATIC_ROOT_URL']}}bananas/js/services.js"></script>
	<script src="{{config['STATIC_ROOT_URL']}}bananas/js/controllers.js"></script>
	<script src="{{config['STATIC_ROOT_URL']}}bananas/js/filters.js"></script>
	<script src="{{config['STATIC_ROOT_URL']}}bananas/js/directives.js"></script>
	<script src="{{config['STATIC_ROOT_URL']}}js/restangular.js"></script>
	<script src="{{config['STATIC_ROOT_URL']}}js/underscore.js"></script>
</body>
</html>