{% extends "bananas/base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {% if config['DEBUG'] %}
    	<link rel="stylesheet/less" type="text/css" href="{{config['STATIC_ROOT_URL']}}less/index.less" />
    {% endif %}
    {{ super() }}
{% endblock %}
{% block content %}

	<div id="home">
		<div id="tree">
			<img src="{{config['STATIC_ROOT_URL']}}img/banana_tree.png"/>
	    </div>
		
		<div id="monkey">
			<img src="{{config['STATIC_ROOT_URL']}}img/monkeyfull.png"/>
	    </div>

		<div id="content">
			<div id="launch">
				<div id="start" class="risque">
			    	<a href="">GO PLAY!</a>
				</div>

				<div id="logo">
					<h1>logo</h1>
				</div>
			</div>

			<div id="menu" class="hide">
                <div id="rightarrow">
                    <a href="#"><img src="{{config['STATIC_ROOT_URL']}}img/rightarrowstd.png"/></a>
                </div>
                <div id="leftarrow">
                    <a href="#"><img src="{{config['STATIC_ROOT_URL']}}img/rightarrowstd.png"/></a>
                </div>
			</div>
		</div>
	</div>

	<div id="bananarun" class="hide">
	</div>

	<div id="monkeybusiness" class="hide">
		<img src="{{config['STATIC_ROOT_URL']}}img/bamboo_frame.png"/>
		<div id="bamboo-frame-holder">
			<div class="bamboo-text-wrap">
				<p> Buy Some Bananas!!!!</p>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$('#start').click(function(e){ e.preventDefault(); $('#launch').hide();$('#hut').hide();; $('#menu').fadeIn();  return false} );
		$('#rightarrow').click(function(e){ e.preventDefault(); $('#menu').hide();$('#hut').hide();$('#tree').hide(); $('#monkeybusiness').fadeIn();  return false} );
	
	</script>


{% endblock %}