<table cellspacing="0" cellpadding="0" border="0" width="100%">
  <tr>
    <td bgcolor=#ffffff>
      <table cellspacing="0" cellpadding="0" border="0" style="margin: auto; width: 700px">
        <tr>
          <td class="blue" colspan=2 style="padding: 30px; color: #ffffff; background-color: #0076A3; padding: 10px;"><img src="http://gamechange.info/static/img/logo.png" /></td>
          <td class="blue" colspan=2 style="  color: #ffffff; background-color: #0076A3; padding: 10px;">The online game for lifestyle change</td>
        </tr>
        <tr>
          <td width=20% height=30px bgcolor=#0076A3></td>
          <td bgcolor=#dddddd width=520px rowspan=3 colspan=2 style="padding: 0px 20px">
            <p> Hey {{first_name}}!</p>
            <p> Thanks for signing up to the Game Change beta test! </p>
            <p> As you know we're still in development but we'd like you to confirm your e-mail address now to save time later.
              We promise not to spam you, and we won't be in touch until we have something you can actually play! You can keep up to date via our <a href="http://gamechange.info/blog"> blog </a> or interact on <a href="http://facebook.com/gamechangegame">Facebook</a> and <a href="http://twitter.com/gamechangegame">Twitter</a>.
            </p>
            <p style="text-align: center;">
              <a href="http://gamechange.info/email/verify/{{email_key}}" type=submit style="font-size: 20px;
              display: inline-block;
  width: 520px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -webkit-appearance: button;
  margin: 0;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;"> Confirm E-mail! </a>
</p>
          </td>
          <td bgcolor=#0076A3 width=20% height=30px></td>
        </tr>
        <tr>
          <td class="white" width=20% height=150px></td>
          <td class="white" width=20% height=150px></td>
        </tr>
        <tr>
          <td bgcolor=#0076A3 width=20% height=30px></td>
          <td bgcolor=#0076A3 width=20% height=30px></td>
        </tr>
        <tr>
          <td width=100% colspan=4 class="blue footer" style="padding: 10px; color: #ffffff; background-color: #0076A3; padding: 10px;">
            You are receiving this e-mail because you signed up <a style="color: #dddddd;" href="http://gamechange.info">gamechange.info</a>. If you didn't signup you can just ignore this message, or <a style="color: #dddddd;" href="http://gamechange.info/email/unsubscribe/{{email_address}}">unsubscribe</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>