<table cellspacing="0" border="0" width="100%" style="font-family: helvetica, sans-serif">
  <tr>
    <td bgcolor=#ffffff>
        <tr>
          <td colspan=4 style="text-align: center; padding: 10px 0px 10px 0px !important; color: #ffffff; background-color: #0076A3;">
            <img src="http://gamechange.info/static/img/logo.png" alt="Game Change"/>
            <p>The online game for lifestyle change</p>
          </td>
        </tr>
        <tr>
          <td width=20% height=30px bgcolor=#0076A3></td>
          <td bgcolor=#dddddd width=520px rowspan=3 colspan=2 style="padding: 0px 20px">
            <p> Hey {{first_name}}!</p>
            <p> Thanks for signing up to the Game Change beta test! </p>
            <p> As you know we're still in development but we'd like you to confirm your e-mail address now to save time later.
              We promise not to spam you, and we won't be in touch until we have something you can actually play! You can keep up to date via our <a href="http://gamechange.info/blog"> blog </a> or interact on <a href="http://facebook.com/gamechangegame">Facebook</a> and <a href="http://twitter.com/gamechangegame">Twitter</a>.
            </p>
            <p style="text-align: center;">
              <a href="http://gamechange.info/email/verify/{{email_key}}" type=submit style="font-size: 20px;
              display: inline-block;"> Confirm E-mail! </a>
</p>
          </td>
          <td bgcolor=#0076A3 width=20% height=30px></td>
        </tr>
        <tr>
          <td class="white" width=20% height=150px></td>
          <td class="white" width=20% height=150px></td>
        </tr>
        <tr>
          <td bgcolor=#0076A3 width=20% height=30px></td>
          <td bgcolor=#0076A3 width=20% height=30px></td>
        </tr>
    </td>
  </tr>
          <tr>
          <td width=100% colspan=4 class="blue footer" style="padding: 10px; color: #ffffff; background-color: #0076A3; padding: 10px;">
            You are receiving this e-mail because you signed up <a style="color: #dddddd;" href="http://gamechange.info">gamechange.info</a>. If you didn't signup you can just ignore this message, or <a style="color: #dddddd;" href="http://gamechange.info/email/unsubscribe/{{email_address}}">unsubscribe</a>
          </td>
        </tr>
</table>