
#home {
	display: inline;

	#start {
		a{
			text-align: center;
			color: black;
			position: fixed;
			width: 30%;
			bottom: 8%;
			left: 35%;

			&:hover { color: red };
		}
	}

	#logo {
		background-color: white;
		width: 50%;
		height:30%;
		position: fixed;
		top: 10%;
		left:25%;
		text-align: center;
	}

	#monkey {
		height: 60%;
		width: 20%;
		background-color: brown;
		position: fixed;
		right: 10%;
		top: 40%;
	}

	#tree {
		height: 60%;
		width: 10%;
		background-color: green;
		position: fixed;
		left: 10%;
		top: 40%;
	}
}

#bananarun {
	display: none;
}
