{% extends "base.html" %}

{% block extra_box %}
      <div class="row">
        <div class="content-wrapper">
          <div class="content">
            <form>
              <fieldset id="signup">
                <legend>Beta Sign Up</legend>
                  <div class="inputs">
                    <p> If you've seen our video and you like the idea, sign up for the beta test below. We hope to be launching a limited beta in the final quarter of 2013. Just tell us your e-mail address, your name and which of the goals below you'd most like to work towards.</p>
                    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                    <input name="email" type="text" placeholder="Email Address" class="wide">
                    <input name="first_name" type="text" placeholder="First Name" class="slim pull-left">
                    <input name="last_name" type="text" placeholder="Last Name" class="slim pull-right">
                    <div id="errors" class="error"></div>
                    <button type="submit" class="btn btn-success wide">Go!</button>
                  </div>
              </fieldset>
              <fieldset id="thanks" class="hide">
                <legend>Thanks</legend>
                  <div class="inputs">
                    <p> Thank you for signing up. We'll be sending you an e-mail to confirm your e-mail address. 
                      It should be with you in the next few minutes. Make sure you check your spam or junk mail too!</p>
                    {% include "inc/social_share.html" %}
                  </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
{% endblock %}

{% block mid %}
    <div id="mid">
      <div class="container">
        <div class="row" id="blog">
          <div class="span12">
            <div class="page-header">
              <h1>Blog</h1>
            </div>
            <span class="pull-right post-date" style="clear: right;"> 24th March 2013 </span>
            <span class="pull-right post-author" style="clear: right;"> Aksat Shah </span>
            <h2>Prototyping Weekend!</h2> 
            <p>Thanks for following us so far! The Game Change team have been working through the weekend to get an awesome protoype game ready! The game starts with you stranded on an island with no food and no shelter. But don't worry, its always possible to get help from the monkey by just doing some simple missions. Simply go on a Banana Hunt and you can earn some bananas to pay the monkey for materials to help build your shelter. The different missions are Monkey See, Monkey Do, where you do small tasks such as 5 push-ups or situps, Banana Run, which is a short run and Island Quiz, a quick quiz about health and fitness. Please check it out at <a href=http://gamechange.info/bananas>Game Change Go Bananas</a>.</p>

            <p>If you want to keep up to date with major developments then sign up for the Beta Testing above. You can also find us on <a href="http://twitter.com/gamechangegame" target="_blank">Twitter</a> or <a href="http://facebook.com/gamechangegame" target="_blank"> Facebook </a> where we'll be posting updates of our progress in funding and development.</p>

            <div class="page-header">
            </div>
            <span class="pull-right post-date" style="clear: right;"> 19th February 2013 </span>
            <span class="pull-right post-author" style="clear: right;"> Chris Darby </span>
            <h2>Welcome to Game Change!</h2> 

            <p>Congratulations for getting this far! We've just finished updating this website and will be bringing you more information about our project in the coming days and weeks. If you've not done so already, please check out the <a href="#video">video</a> at the top of the page.</p>

            <p>If you want to keep up to date with major developments then sign up for the Beta Testing above. You can also find us on <a href="http://twitter.com/gamechangegame" target="_blank">Twitter</a> or <a href="http://facebook.com/gamechangegame" target="_blank"> Facebook </a> where we'll be posting updates of our progress in funding and development.</p>

          </div>
        </div>
      </div>
    </div>
    {%endblock%}