{% extends "base.html" %}
{% block title %}Game Change: Email Unsubscribe{% endblock %}
{% block top_content %}
  <legend>Sorry to see you go :-(</legend>  
  <p>{{msg}}</p>
  {% if show_form %}
  <form class="unsubscribe" action='/email/unsubscribe/' method='POST'>
  <fieldset id="email">
    <div class="inputs">
      <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
      <input name="email" type="text" placeholder="Email Address" class="wide">
      <div id="errors" class="error"></div>
      <button type="submit" class="btn btn-success wide">Go!</button>
    </div>
  </fieldset>
  </form>
  {% endif %}
{% endblock %}