<div class="row">
  <div class="span4">
    <div class="fb-like" data-href="http://gamechange.info" data-send="true" data-width="200" data-show-faces="true"></div>
  </div>
  <div class="span2 pull-right">
    <div class="pull-right">
      <a href="https://twitter.com/share" class="twitter-share-button pull-right" data-url="http://gamechange.info" data-text="I've just signed up to the Game Change beta, why don't you?" data-size="large" data-related="gamechangegame">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>