<div class="row">
  <ul id="social-links" class="unstyled inline text-center">
    <li>
      <a href="http://facebook.com/gamechangegame" target="_blank">
        <img src="{{config['STATIC_ROOT_URL']}}img/icons/facebook.png" />
      </a>
    </li>
    <li>
      <a href="http://twitter.com/gamechangegame" target="_blank">
        <img src="{{config['STATIC_ROOT_URL']}}img/icons/twitter.png" />
      </a>
    </li>
    <li>
      <a href="http://youtube.com/gamechangegame" target="_blank">
        <img src="{{config['STATIC_ROOT_URL']}}img/icons/youtube.png" />
      </a>
    </li>
  </ul>
  <div class="clearfix">
  </div>
</div>