
#home {
	#content {
		#launch {
				#start {
					a{
						text-align: center;
						color: black;
						position: fixed;
						width: 30%;
						bottom: 4%;
						left: 35%;
						font-size: 32px;

						&:hover { color: red };
					}
				}

				#logo {
					background-color: white;
					opacity: 0.5;
					width: 50%;
					height:30%;
					position: fixed;
					top: 10%;
					left:25%;
					text-align: center;
				}

		}

		#menu {
		}

	}
	

	#monkey {
		width: 25%;
		position: fixed;
		right: 0%;
		bottom: 0;
		img {
			width:100%;
			position: absolute;
			bottom: 0;
		}
	}

	#tree {
		height: 60%;
		width: 30%;
		position: fixed;
		left: 9%;
		top: 40%;
		img {
			width:100%;
			position: absolute;
			bottom: 0;
		}
	}
}

#monkeybusiness {
	-webkit-transform-style: preserve-3d;
	-webkit-perspective: 862px;
	-webkit-perspective-origin: 70% 34%;

	#bamboo-frame-holder {
		background-color: white;
		width: 70%;
		height: 51%;
		top: 21%;
		-webkit-transform: rotateY(25deg);
		left: 24%;
		display: block;
		z-index: 1;
		position: absolute;

		.bamboo-text-wrap {
			margin: 20px;
		}
	}
	a{
		text-align: center;
		color: black;
		&:hover { color: red };
		position: fixed;
	}
	img {
		width: 100%;
		height: 100%;
	}
}


#bananarun {
}
