<html>
  <head>
    <title>Game Change</title>
    {% include "inc/header.html" %}   
  </head>
  <body>
    {% include "inc/fb_root.html" %}
    <div id="header">
      <div id="GC-world-wrapper"> 
        <img id="GC-world" class="img-rotate" src="{{config['STATIC_ROOT_URL']}}img/world.png" alt="" />
      </div>
      <div id="GC-people-wrapper">
        <img id="GC-people"  src="{{config['STATIC_ROOT_URL']}}img/people.jpg" alt="" />
      </div>
    </div>
    <div class="container" id="main"> 
      <div class="row">
        <div class="span12">
          <a href="/">
            <img src="{{config['STATIC_ROOT_URL']}}img/logo.png" alt="Game Change logo" id="logo" />
          </a>
        </div>
      </div>
      <div class="row">
        <div class="content-wrapper">
          <div class="content">
            <form>
              <fieldset id="resend">
                <legend>Oops!</legend>
                <div class="inputs">
                  <p> It looks like your verification link is invalid. Perhaps you could try copying it again from your e-mail.
                  Alternatively, for a new link enter your address below and we'll send another confirmation. </p>
                  <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                  <input name="email" type="text" placeholder="Email Address" class="wide">
                  <div id="errors" class="error"></div>
                  <button type="submit" class="btn btn-success wide">Find E-mail and Resend</button>
                </div>
              </fieldset>
              <fieldset id="signup" class="hide">
                <legend>Oops!</legend>
                  <div class="inputs">
                    <p> It looks like your e-mail address isn't in our system. Please enter your details again below and we'll 
                      send you a verification e-mail right away!</p>
                    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                    <input name="email" type="text" placeholder="Email Address" class="wide">
                    <input name="first_name" type="text" placeholder="First Name" class="slim pull-left">
                    <input name="last_name" type="text" placeholder="Last Name" class="slim pull-right">
                    <div id="errors" class="error"></div>
                    <button type="submit" class="btn btn-success wide">Go!</button>
                  </div>
              </fieldset>
              <fieldset id="thanks_resend" class="hide">
                <legend>Thank you</legend>
                  <div class="inputs">
                    <p> We've resent your e-mail and it should be with you very soon. If you don't receive it within 12 hours
                      or have any other problems please e-mail us <a href="mailto:info@gamechange.info">info@gamechange.info</a> and we'll investigate. Don't forget to
                      check your junk or spam folder! </p>
                      {% include "inc/social_share.html" %}
                  </div>
              </fieldset>
              <fieldset id="thanks_signup" class="hide">
                <legend>Thank you</legend>
                  <div class="inputs">
                    <p> Thank you for signing up. We'll be sending you an e-mail to confirm your e-mail address. 
                      It should be with you in the next few minutes. Make sure you check your spam or junk mail too!</p>
                    {% include "inc/social_share.html" %}
                  </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      {% include "inc/social_links.html" %}
    </div>
    <div id="footer-wrapper">
        <div class="footer" id="footer"> 
          <div class="container">
            <div class="row">
              <div class="span12">
                <p class="pull-right">&copy; Game Change Game 2013</p>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type='text/javascript'>
    $(function(){
      $('form').submit(function(e){
        e.preventDefault;
        $.ajax({
          method: 'POST',
          url: '/signup', 
          data: $('form').serialize(), 
          error: function(jqXHR, textStatus, errorThrown){
            resp = JSON.parse(jqXHR.responseText);
            $('div#errors').html('');
            $('fieldset#signup input').removeClass('error');
            for (e in resp['errors']){
              $('div#errors').append("<p>"+resp['errors'][e]+"</p>");
              $("input[name='"+e+"']").addClass('error');
            }
            $("input[name='_csrf_token']").val(resp._csrf_token);
          },
          success: function(){
            $('div#errors').html('');
            $('fieldset#signup input').removeClass('error');
            $('form fieldset#signup').fadeOut({
              'done': function(){
                $('form fieldset#thanks').fadeIn();
              },
            });
          }
        });
        return false;
      });
    });
    </script>
    {% include "inc/ga.html" %}
  </body>
</html>